@model IEnumerable<Product>

@{
    ViewBag.Title = "All Products";
    Layout = "_Layout";
}

<h2>All Products</h2>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3 w-auto" asp-controller="Admin" asp-action="CreateProduct">Create</a>
    
    foreach (var product in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Products
            </div>
            <div class="card-body">
                <h5>@product.Name</h5>
                <img alt="Product" src="~/img/@product.Image" class="card-img"/>
            </div>
            <div class="card-footer">
                <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete</a>
                <a class="btn btn-primary" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            There are no products
        </div>
        <div class="card-body">
            <h5 class="card-title">Create a product</h5>
            <a class="btn btn-primary w-auto" asp-controller="Admin" asp-action="CreateProduct">Create</a>
        </div>
    </div>
}
